html
    head
        title Let's play
        link(rel="stylesheet", href="/css/style.css")
    body
        main
            h1.centrer Faites votre choix
                div.flex
                    a(href='/resultat/paper')
                        img(src='/image/paper.png')
                    a(href="/resultat/rock")
                        img(src='/image/rock.png')
                    a(href='/resultat/scissors')
                        img(src="image/scissors.png")