html
    head
        title Let's play!
        link(rel="stylesheet", href="/css/style.css")
    body
        main
            div.flex
                img(src='/image/'+param+'.png')
                img(src='/image/'+IA+'.png')
            div.centrer Vous avez #{resultat}